.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(15, 14, 14);
}

.footer ul {
    margin-bottom: 50px;
}

.footer ul li {
    list-style: none;
    margin-right: 15px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    opacity: 65%;
}

h3 {
    margin-top: 30px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
    margin-left: 18px;
}

.social{
    max-width: 150px;
    margin-top: -85px;
}

.social ul {
    display: flex;
}